<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Webpage</title>
</head>
<body>
    <h1>Members</h1>
        <ul>
        {% for user in users %}
            <li>{{ user.username|e }}</li>
        {% endfor %}
        </ul>
</body>
</html>